body {
	background-color:#9e9e9e;
}

#firsth1 {
	background-color: black;
	font-size: 20px;

}

#firsth11 {
	color: white;
}

#firstpg {
	font-size: 200%;
	font-family: Arial;
	color: white;
}

#list1 {
	font-size: 200%;
	font-family: Arial;
	color: white;
}